{% extends 'base.html' %}
{% load static %}

{% block title %} Cadastro {% endblock %}

{% block 'content' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock %}

<div class="status-message">
    {% if status == '0'%}
    <div class="alert alert-success d-flex align-items-start" role="alert">
        Enviamos um email com um link de confirmação para o seu endereço de email. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if status == '1'%}
    <div class="alert alert-danger" role="alert">
        Nome e email não podem está vazios.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if status == '2'%}
    <div class="alert alert-danger" role="alert">
        Sua senha deve ter pelo menos 8 caracteres.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if status == '3'%}
    <div class="alert alert-danger" role="alert">
        Usuário já existe no sistema.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if status == '4'%}
    <div class="alert alert-danger" role="alert">
        Erro interno do sistema.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if status == '5'%}
    <div class="alert alert-danger" role="alert">
        As senhas não coindidem.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-- LEFT AREA -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box left-container">
            <p class="title-left fs-2 mt-3">LIVRARIA SOCIAL</p>
            <small class="text-dark text-wrap text-center slogan">Onde as histórias
                encontram sua voz.</small>
            <div class="featured-image mb-3">
                <img src="{% static 'usuarios/img/image_cadastro.png' %}" class="img-fluid img-register">
            </div>
        </div>
        <!-- RIGHT AREA -->
        <div class="col-md-6 right-box right-container">
            <div class="row align-items-center justify-content-center">
                <div class="header-text mb-4">
                    <h1>Cadastre-se</h1>
                </div>
            </div>

            <form method="POST" action="{% url 'valida_cadastro' %}">{% csrf_token %}
                <div class="input-group mb-3">
                    <input name="nome" type="text" class="form-control form-control-lg bg-light fs-6"
                        placeholder="Nome">
                </div>
                <div class="input-group mb-3">
                    <input name="email" type="email" class="form-control form-control-lg bg-light fs-6"
                        placeholder="Email">
                </div>
                <div class="input-group mb-3">
                    <input name="senha" type="password" class="form-control form-control-lg bg-light fs-6"
                        placeholder="Senha">
                </div>
                <div class="input-group mb-3">
                    <input name="senha_repeticao" type="password" class="form-control form-control-lg bg-light fs-6"
                        placeholder="Repita a senha">
                </div>
                <div class="input-group mb-3">
                    <input class="btn btn-lg custom-btn w-100 fs-6" type="submit" value="Cadastrar">
                </div>
                <div class="input-group mb-3">
                    <a href="{% url 'login' %}" class="btn custom-btn-light btn-lg w-100 fs-6">Login</a>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}