{% extends 'base_usuarios.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block 'content' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock %}

<div class="status-message">
    {% if status == '0'%}
    <div class="alert alert-success" role="alert">
        Email confirmado com sucesso.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if status == '1'%}
    <div class="alert alert-danger" role="alert">
        Email ou senha inválidos.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if status == '2'%}
    <div class="alert alert-danger" role="alert">
        Confirme o email antes de logar no sistema.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if status == '3' %}
    <div class="alert alert-success" role="alert">
        Senha redefinida com sucesso.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if status == '4'%}
    <div class="alert alert-danger" role="alert">
        Faça login antes de tentar acessar o sistema.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if status == '5'%}
    <div class="alert alert-success" role="alert">
        Conta deletada com sucesso.
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-- LEFT AREA -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box left-container">
            <p class="title-left fs-2 mt-3">LIVRARIA SOCIAL</p>
            <small class="text-dark text-wrap text-center slogan">Onde as histórias
                encontram sua voz.</small>
            <div class="featured-image mb-3">
                <img src="{% static 'usuarios/img/image_cadastro.png' %}" class="img-fluid img-register">
            </div>
        </div>
        <!-- RIGHT AREA -->
        <div class="col-md-6 right-box right-container">
            <div class="row align-items-center justify-content-center">
                <div class="header-text mb-4">
                    <h1 class="title-rigth">Login</h1>
                </div>
            </div>

            <form method="POST" action="{% url 'valida_login' %}">{% csrf_token %}

                <div class="input-group mb-3">
                    <input name="email" type="email" class="form-control form-control-md fs-6" placeholder="Email">
                </div>
                <div class="input-group mb-3">
                    <input name="senha" type="password" class="form-control form-control-md fs-6" placeholder="Senha">
                </div>

                <div class="row justify-content-center">
                    <small><a href="{% url 'solicitar_redefinicao_senha' %}" class="links">Esqueceu
                            a senha?</a></small>
                </div>

                <div class="input-group mb-3">
                    <input class="btn btn-md custom-btn w-100 fs-6" type="submit" value="Entrar">
                </div>

                <div class="row justify-content-center">
                    <small>Não tem uma conta? <a href="{% url 'cadastro' %}" class="links">Cadastre-se</a></small>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}


