.status-message {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 600px;
}

.box-area {
  width: 930px;
}

.right-box {
  padding: 40px 30px 40px 40px;
}

.title-logo {
  color: var(--orange-dark);
  font-weight: 700;
  font-size: 24px
}

.slogan {
  font-weight: 500;
  font-size: 16px;
}

.form-control {
  border-radius: 20px;
}

.form-control:focus {
  border-color: var(--orange-light);
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.25);
}

::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}

.rounded-5 {
  border-radius: 30px;
}

.custom-btn,
.custom-btn:focus {
  background-color: var(--orange-dark);
  color: white;
  border-color: transparent;
  box-shadow: none;
  border-radius: 20px;
  margin-top: 30px;
}

.custom-btn:hover {
  background-color: #da574d;
  color: white;
}

.custom-btn-light {
  border: 2px solid #e98074;
  border-radius: 20px;
  color: var(--orange-dark);
}

.custom-btn-light:hover {
  background-color: rgb(241, 241, 241);
  color: var(--orange-dark);
}
.container .row .left-container{
  background-color: var(--beige-medium);
}
.container .row .left-container .title-left{
  color: var(--orange-dark); 
  font-weight: 700; 
  font-size: 24px;
  margin: 0;
}
.container .row .left-container .featured-image{
  width: auto;
}

.right-container .links{
  color: var(--orange-dark);
}

.left-container .slogan{
  font-weight: 500;
  font-size: 16px;
}

.container-reset-password .img-reset-password{
  height: auto;
}

.links-login {
  color: var(--orange-dark);
}


@media only screen and (max-width: 600px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box:not(.container-reset-password) {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
  .left-box .img-register{
    display: none;
  }
}