{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}

{% block 'content' %}

{% block head %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-auto">
            <form class="search-container" action="{% url 'buscar' %}" method="GET">
                <input type="text" class="search-input" name="termo_pesquisa" placeholder="Pesquisar">
                <button type="submit" class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>

        <div class="col-md-3 col-3 mb-3">
            <select class="select-categoria" name="categoria" style="max-width: 100%;">
                <option>Categorias</option>
                {% for i in categoria_livro %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Resultados da busca de livros -->
    {% if request.GET.termo_pesquisa %}
    <div class="container mt-4 p-4 busca-livros">
        <h5>Resultados</h5>
        <hr>
        {% if livros %}
        <div class="row d-flex align-items-stretch">
            {% for livro in livros %}
            <div class="livro-container">
                {% if livro.capa_url %}

                {% if livro.isbn %}
                <a href="{% url 'adicionar_livro' livro.isbn %}">
                    <img src="{{ livro.capa_url }}" alt="Capa do Livro" class="h-100">
                    <div class="livro-overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </div>
                </a>
                {% endif %}
                {% else %}
                <div class="sem-capa">
                    <!-- {% if livro.isbn %} -->
                    <a href="{% url 'adicionar_livro' livro.isbn %}">
                        <p>{{ livro.titulo }}</p>
                        <div class="livro-overlay">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </div>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Nenhum livro encontrado para esta busca.</p>
        {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}