{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}

{% block 'content' %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

<div class="container-fluid col-sm-12">
    <div class="row justify-content-center mb-3">
        <div class="col-md-6 col-auto">
            <form class="search-container" action="{% url 'buscar' %}" method="GET">
                <input type="text" class="search-input" name="termo_pesquisa" placeholder="Pesquisar">
                <button type="submit" class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>

        <form class="col-md-3 col-6 mb-3" action="{% url 'filtrar_livros' %}" method="GET" id="filtroForm">
            <select class="select-categoria" name="categoria" style="max-width: 100%;" onchange="this.form.submit()">
                <option>Categorias</option>
                {% for i in categoria_livro %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
        </form>

    </div>
    {% if request.GET.categoria and request.GET.categoria != 'Categorias' or request.GET.termo_pesquisa %}
    <!-- Resultados da busca de livros -->
    <div class="container mt-4 p-4 busca-livros">
        <h5>Resultados</h5>
        <hr>
        {% if livros %}
        <div class="row d-flex align-items-stretch">
            {% for livro in livros %}
            <div class="livro-container">
                {% if livro.capa_url %}
                {% if livro.isbn %}
                <a href="{% url 'adicionar_livro' livro.isbn %}">
                    <img src="{{ livro.capa_url }}" alt="Capa do Livro" class="h-100">
                    <div class="livro-overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </div>
                </a>
                {% endif %}
                {% else %}
                <div class="sem-capa">
                    <a href="{% url 'adicionar_livro' livro.isbn %}">
                        <p>{{ livro.titulo }}</p>
                        <div class="livro-overlay">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </div>
                    </a>


                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Nenhum livro encontrado para esta busca.</p>
        {% endif %}
    </div>
    {% endif %}

    {% for livro in livros%}

    {% endfor %}

    <!-- Carousel -->
    <h4 class="mt-4" style="font-weight: bold; text-align: center;">Melhores Avaliações</h4>
    <hr>
    <div class="wrapper mt-4">
        <div class="slide-wrapper" data-slide="wrapper">
            <button class="slide-nav-button slide-nav-previous fas fa-chevron-left"
                data-slide="nav-previous-button"></button>
            <button class="slide-nav-button slide-nav-next fas fa-chevron-right" data-slide="nav-next-button"></button>
            <div class="slide-list" data-slide="list">
                {% for livro in melhores_livros %}
                <div class="slide-item" data-slide="item" data-index="{{ forloop.counter }}">
                    <div class="slide-content slide-{{ forloop.counter }}">
                        <div class="img-left">
                            {% if livro.capa_url %}
                            <img class="slide-image" src="{{ livro.capa_url }}" alt="Capa do livro" />
                            {% else %}
                            <div class="sem-capa-carousel">
                                <p>CAPA INDISPONÍVEL</p>
                            </div>
                            {% endif%}
                        </div>
                        <div class="description-right">
                            <div class="slide-description">
                                <p class="titulo-livro">{{ livro.nome }}</p>
                                <p class="autor-livro">{{ livro.autor }}</p>
                                <div class="avaliacao d-flex">
                                    <i class='bx bxs-star' style="font-size: 22px; color: #EDAC06;"></i>
                                    <p class="ml-2 valor-avaliacao" style="font-size: 16px; color: #fff; margin: auto;">
                                        {{livro.avaliacao}}</p>
                                </div>
                                <p class="resenha-livro mt-2">{{ livro.descricao}}</p>
                                <a href="{% url 'ver_livros' livro.isbn %}" class="btn w-50 custom-btn m-auto">VER
                                    LIVRO</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="slide-controls" data-slide="controls-wrapper">
            </div>
        </div>
    </div>

    <!-- Resenhas mais populares -->
    <h4 class="mt-5" style="font-weight: bold; text-align: center;">Resenhas Mais Populares</h4>
    <hr>
    <div class="container-resenhas-populares row mb-5 mt-2 mx-3">
        {% for resenha in resenhas_mais_curtidas %}
        <div class="resenhas-populares col-12 col-lg-6">
            <div class="rounded-rectangle-resenhas p-4 mt-3">
                <div class="perfil-user d-flex align-items-start">
                    <div class="px-2">
                        <div class="img-user m-1">
                            <i class='bx bxs-user' style="color: #fff; font-size: 22px;"></i>
                        </div>
                    </div>
                    <div>
                        <div class="nome-user mb-1">{{ resenha.usuario_id.nome }}</div>
                        <h6 class="titulo-resenha">{{ resenha.titulo }}</h6>
                    </div>
                </div>
                <div class="d-flex py-2">
                    {% if resenha.livro.capa_url %}
                    <img src="{{ resenha.livro.capa_url }}" alt="Capa do Livro">
                    {% else %}
                    <div class="sem-capa-populares p-1">
                        <p>CAPA INDISPONÍVEL</p>
                    </div>
                    {% endif%}
                    <div class="resenha-livro-curtidas ml-3">
                        <p>{{resenha.texto}}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'ver_livros' resenha.livro.isbn %}" class="btn btn-ver-mais">Ver mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'home/js/home.js' %}"></script>

{% endblock %}